
  .container
  {
  	padding: 7em 0;
    clear: both;
  }

  .gtco-card-item {
    display: block;
    width: 100%;
    position: relative;
    background: #fff;
    overflow: hidden;
    z-index: 9;
    bottom: 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.gtco-card-item:hover, .gtco-card-item:focus {
    bottom: 7px;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}

.gtco-card-item figure {
    height: 240px;
    overflow: hidden;
    z-index: 12;
    position: relative;
}

  .gtco-card-item figure .overlay {
  	opacity: 0;
  	visibility: hidden;
  	z-index: 10;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	position: absolute;
  	background: rgba(0, 0, 0, 0.4);
  	-webkit-transition: 0.7s;
  	-o-transition: 0.7s;
  	transition: 0.7s;
  }

  .gtco-card-item:hover figure .overlay, .gtco-card-item:focus figure .overlay {
  	opacity: 1;
  	visibility: visible;
  }

.gtco-card-item figure .overlay i{
    color: #ffffff73;
    font-size: 3rem;
    z-index: 12;        
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.gtco-card-item img {
    z-index: 8;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.gtco-card-item:hover img, .gtco-card-item:focus img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


.gtco-card-item .gtco-text {
    padding: 0px 10px 10px 20px;
    text-align: center;
}

a:hover, a:active, a:focus {
    color: #66D37E;
    outline: none;
    text-decoration: none;
}
.gtco-card-item .gtco-text h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: #66D37E;
}
.gtco-card-item .gtco-text p {
    color: red;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gtco-card-item .gtco-text span.btn {
    color: #666666 !important;
    opacity: 1;
    visibility: visible;
    bottom: 0;
    background: #ebebeb;
    border: 2px solid #ebebeb !important;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.gtco-card-item:hover span.btn, .gtco-card-item:focus span.btn {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
    color: #fff !important;
    border: 2px solid #7ad98f !important;
    background: #7ad98f !important;
}
.btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important;
}
.gtco-card-item:hover h2, .gtco-card-item:hover span, .gtco-card-item:focus h2, .gtco-card-item:focus span {
    text-decoration: none !important;
}

.fas.fa-star
{
    color: orange;
}
#sliderPrice .slider-selection {
  background: blue;
}
.inline-block
{
  display: inline-block;
}
.container {
  margin-top: 20px;
}
span.rating 
  {
    display: inline-block;
  }

  input.star 
  { 
    display: none; 
  }

  label.star 
  {
    float: right;
    padding: 7px;
    font-size: 20px;
    color: #444;
  }

  input.star:checked ~ label.star:before 
  {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  input.star-5:checked ~ label.star:before 
  {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
  input.star-1:checked ~ label.star:before 
  { 
    color: #F62; 
  }
  label.star:before 
  {
    content: '\f006';
    font-family: FontAwesome;
  }