body
{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
nav
{
	background-color: rgba(48,41,43,1);
}
ul.navbar-nav
{							
	background-color: #343a40;
	width: 100%;
}
ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.navbar-nav > li.nav-item
{
	padding: 0px 10px;

}
ul.navbar-nav > li>a:hover
{
	color: white;
}
div.dropdown-menu > a:hover
{
	padding-left: 20px;
	background-color: green;
	color: white;
}
div.dropdown-menu > a
{
	transition: all 1s;
	-webkit-transition: all 1s;
}
div.dropdown-menu
{
	padding-left: 0px;
	left: 0;

}
.carousel-inner img
{
	width: 789px;
	height: 344px;
	margin-top: 90px;
}
a.nav-link 
{
	color: #fed700;
}
a.nav-link:hover
{
	color: white;
}
.carousel-control-prev-icon, .carousel-control-next-icon 
{
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 50%, 50%;
    border-radius: 10%;
}
.gtco-cover
{
	height:400px;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.gtco-cover .overplay
{
	background-color: #80808066;
	height: 100%;
}

.display-t
{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.display-t h2
{
	color:white;
}

.dienthoai a.gtco-item
{
	display: block;
	width: 100%;	
	position: relative;	
	box-shadow: 0px 2px 5px 0px #e8e8e8;
	margin-bottom: 30px;
}
.label-lt a.gtco-item
{
	display: block;
	width: 100%;	
	box-shadow: 0px 2px 5px 0px #e8e8e8;
	margin-top: 30px;
	font-weight: bold;
	padding-left: 20px;
}
.laptop a.gtco-item
{
	display: block;
	width: 100%;	
	position: relative;	
	box-shadow: 0px 2px 5px 0px #e8e8e8;
	border-radius: 5px;
	margin-bottom: 30px;
}
.laptop a.gtco-item i
{
	color: white;
}
.dienthoai a.gtco-item:hover
{
	bottom: 5px;	
	box-shadow: 0px 10px 20px 10px #8c928c99;
}
.laptop a.gtco-item:hover
{	
	bottom: 5px;
	box-shadow: 0px 10px 20px 10px #8c928c99;
}
.fig
{
	position: relative;
	overflow: hidden;
}

.fig .overplay
{
	position: absolute;
	visibility: hidden;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	background-color: #80808066;
	transition: all 1s;
}

a.gtco-item:hover .fig .overplay
{
	visibility: visible;
	z-index: 12;
}

a.gtco-item .fig .overplay span
{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1rem;
	color:white;
	transition: all 0.5s;
}

a.gtco-item .fig img
{
transition: all 0.5s;
}

a.gtco-item:hover .fig img
{
	transform: scale(1.0);
	z-index: 10;
}
.gtco-text
{
	text-decoration: none;
	text-align: center;
}
a:link, a:hover,a:active
{
	text-decoration: none;
}

.gtco-text h2
{
	color:green;
}

.gtco-text p
{
	color:red;
	font-weight: bold;
}

.gtco-text span
{
	margin: 10px;
	transition: 1s;
}
.laptop a.gtco-item:hover .gtco-text span
{
	background-color: gray;
	border-color: gray;
}
a.gtco-item:hover .gtco-text span
{
	background-color: green;
    border-color: green;
}
div.col-md-12
{
	margin: 20px 0px;
}
div.fig img
{
	transform: scale(0.8);
}
.dienthoai h4
{
	color: white;
	background-color: blueviolet;
	padding-left: 20px;
}
.icon a
{
	padding: 0 15px;
}
.col-xl-3 a
{
	color: blue;
}
.footer
{
	color: white;
	font-size: 13px;
	text-align: center;
	margin-top: 30px;
	background-color:#343a40;
}
#footer
{
	margin-top: 50px;
}
* {
  box-sizing: border-box;
}
.autocomplete 
{
  position: relative;
  display: inline-block;
}
input 
{
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] 
{
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] 
{
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.autocomplete-items 
{
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div 
{
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover 
{
  background-color: #e9e9e9; 
}
.autocomplete-active 
{
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
div.col-md-4 h4
{
	color: white;
	width: 250px;
	height: 0px;
	line-height: 0px;
	border:20px solid;
	border-top-color: #343a40;
	border-left-color: #343a40;
	border-bottom-color: #343a40;
}
div.col-md-4 h4 a
{
	color: white;
}
div.col-md-4
{
	margin-top: 90PX;
}
div.col-md-4 a
{
	color: blue;
	margin-top: 17PX;
}
div.col-md-4 a:hover
{
	color: purple;
}
div.col-md-4 a img
{
	float: left;
	margin-bottom:10px;
	margin-right: 5px;
}
.pk
{
	border:1px solid #e8e8e8;
}
.pk a
{
	color: black;
	padding-top: 10px;
}
.pk a:hover
{
	color: slategrey;
}
.pk span
{
	color: red;
	font-weight: bold;
}
.wid
{
	width: 82.5%;
}
div#km
{
	border: 1px solid gray;
}
div#km h6
{
	font-weight: bold;
}
div#km
{
	padding-left: 30px;
}
span.giatien
{
	color: red;
	font-weight: bold;
	font-size: 25px;
}
div.tablet
{
	margin-top: 50px;
}
.laptop h3.lt1
{
	background-image: url(../image/lt1.png);
	background-repeat: no-repeat;
	width: 300px;
	height: 200px;
	padding-top: 170px;
	padding-left: 80px;
	color: red;
}
.laptop h3.lt2
{
	background-image: url(../image/lt2.png);
	background-repeat: no-repeat;
	width: 300px;
	height: 200px;
	padding-top: 170px;
	padding-left: 80px;
	color: red;
}
.laptop h3.lt3
{
	background-image: url(../image/lt3.png);
	background-repeat: no-repeat;
	width: 300px;
	height: 200px;
	padding-top: 170px;
	padding-left: 80px;
	color: red;
}
.laptop h3.lt4
{
	background-image: url(../image/lt4.png);
	background-repeat: no-repeat;
	width: 300px;
	height: 200px;
	padding-top: 170px;
	padding-left: 80px;
	color: red;
}
#cart
{
	width: 20px;
	height: 20px;
	background-color: green;
	position: fixed;
	left: 950px;
	top: 8px;
	border-radius: 10px;
}
#number
{
	text-align: center;
	color: white;
}
#Preview
{
	width: 100%;
}

.container
{
	margin-top: 100px;
}
.fa-check-circle
{
	color: green;
	margin-right: 10px;
	margin-left: 5px;
}
.badge
{
	font-size: 15px;
	border-radius: 10px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
textarea
{
	width: 100%;
}
ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

div.img-small-wrap div.img-gallery img
{
	width: 60px;
	height: 60px;
	border: 1px solid #dee2e6;
}
div.img-small-wrap div.img-gallery
{
	display: inline-block;
}
div.img-small-wrap
{
	text-align: center;
	margin-top: 20px;
}
div.img-big-wrap img
{
	width: 444px;
	height: 510.594px;
}
.img-zoom-container {
  position: relative;
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}
.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 60px;
  height: 60px;
}
.fa-star
{
	color: #fed700;
}
.tab-pane
{
	height: 500px;
	margin-top: 20px;
}

.media img
{
	border-radius: 50%;
	margin-right: 20px;
}
.media
{
	margin:20px 0;
}
#menu2 ul li img
{
	float: left;
}

#menu2 ul li span
{
	width: 100%;
}
.navbar
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
#rating
{
	background: green;
	color: white;
	border-radius: 10px;
}
#box
{
  margin-top: 7px;
  margin-left: 10px;
	position: fixed;
	top: 5px;
	width: 20px;
	height: 20px;
	background: green;
	border-radius: 10px;
}
#number
{
	color: white;
	text-align: center;
}
.fas.fa-star
{
    color: orange;
}
span.rating 
  {
    display: inline-block;
  }
.list-group-item
{
	border-top: 0;
}
  input.star 
  { 
    display: none; 
  }

  label.star 
  {
    float: right;
    padding: 7px;
    font-size: 20px;
    color: #444;
  }

  input.star:checked ~ label.star:before 
  {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  input.star-5:checked ~ label.star:before 
  {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
  input.star-1:checked ~ label.star:before 
  { 
    color: #F62; 
  }
  label.star:before 
  {
    content: '\f006';
    font-family: FontAwesome;
  }
  @media only screen and (max-width: 576px){
    #box
    {
      margin-top: 210px;
      margin-left: 12px;
    }
  }