.container
{
	margin-top:90px;
}
ul
{
	list-style-type: none;
}
body
{
	font-family: Arial;

}
nav
{
	background-color: rgba(48,41,43,1);
}
p
{
	color:black;
}
h4
{
	color:black;
}
h5
{
	color:black;
}
h3
{
	color:black;
}
a:link, a:hover,a:active
{
	text-decoration: none;
}
div.col-md-4 a:hover
{
	color: purple;
}
.footer
{
	color: white;
	font-size: 13px;
	text-align: center;
	margin-top: 30px;
	background-color:#343a40;
}
input[type=text] 
{
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] 
{
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
div.dropdown-menu
{
	padding-left: 0px;
	left: 0;

}
